@media (max-width: 768px) {

    .container {
        max-width: 700px;
        width: auto;
        margin: 0 auto;

        .header-content {
            display: flex;
            margin-left: 70%;
        }

        .header-nav {
            display: flex;
            margin-left: 130%;
        }
    }

    .header-content-logo {
        display: flex;

    }

    .css-1cjy4zv {
        border-radius: 30%;
    }

    .header-list {
        margin-left: 100%;
    }

    .gender-content {
        display: flex;
        flex-direction: column;
    }

    .gender__men {
        background: url("../src/assets/images/gender__men.png") center/cover no-repeat;
        width: 1900px;
        height: 1250px;
    }

    .gender__men-title {
        font-size: 120px;
        font-weight: 700;
    }

    .gender-line {
        width: 350px;
        height: 9px;
        margin-left: 45%;
    }

    .gender__woman {
        width: 1900px;
        position: relative;
        height: 1140px;
        background: url("../src/assets/images/gender__woman.png") center/ cover no-repeat;
        object-fit: cover;
    }

    .gender__women-title {
        font-size: 120px;
        font-weight: 700;
    }

    .woman-line {
        width: 350px;
        margin-left: 33%;
        height: 9px;
    }
}


@media (max-width: 768px) {

    .container {
        max-width: 700px;
        width: 100%;
    }

    .brand-title {
        font-size: 160px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120% ;
    }

    .brand-content {
        margin-left: 65%;
    }


    .brand-image {
        width: 550px;
        height: 250px;
        margin-bottom: 15px;
    }


    .brand-text {
        margin-left: 120%;
        font-size: 360%;
        text-align: center;
    }

    .brand__line{
        margin-left: 120%;
        width: 30%;
    }

}

@media (max-width: 768px) {
    .collection{

    }
    .collection-title{
        font-size: 100px;
    }
}
