@media (max-width: 768px) {

    .container {
        max-width: 700px;
        width: auto;
        margin: 0 auto;

        .header-content {
            display: flex;
            margin-left: 70%;
        }

        .header-nav {
            display: flex;
            margin-left: 130%;
        }
    }

    .header-content-logo {
        display: flex;

    }

    .css-1cjy4zv {
        border-radius: 30%;
    }

    .header-list {
        margin-left: 100%;
    }

    .gender-content {
        display: flex;
        flex-direction: column;
    }

    .gender__men {
        background: url("../src/assets/images/gender__men.png") center/cover no-repeat;
        width: 1900px;
        height: 1250px;
    }

    .gender__men-title {
        font-size: 120px;
        font-weight: 700;
    }

    .gender-line {
        width: 350px;
        height: 9px;
        margin-left: 45%;
    }

    .gender__woman {
        width: 1900px;
        position: relative;
        height: 1140px;
        background: url("../src/assets/images/gender__woman.png") center/ cover no-repeat;
        object-fit: cover;
    }

    .gender__women-title {
        font-size: 120px;
        font-weight: 700;
    }

    .woman-line {
        width: 350px;
        margin-left: 33%;
        height: 9px;
    }
}



@media (max-width: 768px) {

    .container {
        max-width: 700px;
        width: 100%;
    }

    .brand-title {
        font-size: 70px;
        margin-bottom: 30px;
        text-align: right;
    }

    .brand-content {
        justify-content: center;
        margin-left: 25%;
    }

    .brand-image {
        width: 150px;
        height: 85px;
        margin-bottom: 15px;
    }

    .brand__line {
        width: 145px;
        margin-left: 30%;
    }

    .brand-text{
        margin-left: 30%;
        font-size: 30px;
    }

}